<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="rsync.menu"
            objectClass="org.eclipse.core.resources.IProject">
         <menu
               id="rsync.menu"
               label="Rsync simula"
               path="rsync_plugin.mainMenu.separator1">
            <separator name="group"/>
         </menu>
		<menu
        id="rsync.menu_sync"
        label="Rsync sincronizza"
        path="rsync_plugin.mainMenu.separator1">
    		    <separator name="group"/>
    		</menu>
		<menu
        id="rsync.menu_upload_download"
        label="Rsync upload/download"
        path="rsync_plugin.mainMenu.separator1">
    		    <separator name="group"/>
    		</menu>    		
    		    

         <action
			class="rsync.actions.rsyncGetRundry"
			definitionId="rsync.actions.rsyncGetRundry"
			id="rsync.actions.rsyncGetRundry_Item"
			label="Only test what can be downloaded from the remote server"
			menubarPath="rsync.menu/group"/>
		<action
	        class="rsync.actions.rsyncPutRundry"
	        definitionId="rsync.actions.rsyncPutRundry"
	        id="rsync.actions.rsyncPutRundry_Item"
			label="Only test what can be uploaded to the remote server"
	        menubarPath="rsync.menu/group"/>

         <action
			class="rsync.actions.rsyncGet"
			definitionId="rsync.actions.rsyncGet"
			id="rsync.actions.rsyncGet_Item"
			label="Syncronize local project"
			menubarPath="rsync.menu_sync/group"/>
		<action
	        class="rsync.actions.rsyncPut"
	        definitionId="rsync.actions.rsyncPut"
	        id="rsync.actions.rsyncPut_Item"
			label="Syncronize remote project"
	        menubarPath="rsync.menu_sync/group"/>

         <action
			class="rsync.actions.rsyncGetOnly"
			definitionId="rsync.actions.rsyncGetOnly"
			id="rsync.actions.rsyncGetOnly_Item"
			label="Upload to remote server"
			menubarPath="rsync.menu_upload_download/group"/>
		<action
	        class="rsync.actions.rsyncPutOnly"
	        definitionId="rsync.actions.rsyncPutOnly"
	        id="rsync.actions.rsyncPutOnly_Item"
			label="Download from remote server"
	        menubarPath="rsync.menu_upload_download/group"/>
  <menu
        id="rsync_plugin.mainMenu"
        label="Rsync">
     <separator name="rsync_plugin.separator1"/>
  </menu>
        
      </objectContribution>
   </extension>

 
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="Rsync"
            class="rsync.preferences.RsyncPreferencePage"
            id="rsync.preferences.RsyncPreferencePage">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="rsync.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="rsync.properties.ProjectPropertyPage"
            id="rsync.properties.ProjectPropertyPage"
            name="Rsync"
            objectClass="org.eclipse.core.resources.IProject"/>
   </extension>
   
   
<extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="Rsync"
            visible="true"
            id="rsync.actionSet">
         <menu
               id="rsync.actionSet.mainMenu"
               label="&amp;Rsync">
            <separator
                  name="Sincronizza">
            </separator>
            <separator name="Upload e download"/>
            <separator name="Upload_Download"/>
         </menu>
         <action
               class="rsync.actions.rsyncGetRundry"
               icon="icons/test_local_remote.gif"
               id="rsync.actions.rsyncGetRundry"
               label="Only test what can be downloaded from the remote server"
               menubarPath="rsync.actionSet.mainMenu/Simula"
               toolbarPath="Simula"
               tooltip="Only test what can be downloaded from the remote server">
         </action>
         <action
               class="rsync.actions.rsyncPutRundry"
               icon="icons/test_remote_local.gif"
               id="rsync.actions.rsyncPutRundry"
               label="Only test what can be uploaded to the remote server"
               menubarPath="rsync.actionSet.mainMenu/Simula"
               toolbarPath="Simula"
               tooltip="Only test what can be uploaded to the remote server">
         </action>          
         <action
               class="rsync.actions.rsyncGet"
               icon="icons/sync_remote_local.gif"
               id="rsync.actions.rsyncGet"
               label="Syncronize local project"
               menubarPath="rsync.actionSet.mainMenu/Sincronizza"
               toolbarPath="Sincronizza"
               tooltip="Syncronize local project">
         </action>
         <action
               class="rsync.actions.rsyncPut"
               icon="icons/sync_local_remote.gif"
               id="rsync.actions.rsyncPut"
               label="Syncronize remote project"
               menubarPath="rsync.actionSet.mainMenu/Sincronizza"
               toolbarPath="Sincronizza"
               tooltip="Syncronize remote project">
         </action> 
         <action
               class="rsync.actions.rsyncGetOnly"
               icon="icons/download.gif"
               id="rsync.actions.rsyncGetOnly"
               label="Download from remote server"
               menubarPath="rsync.actionSet.mainMenu/Upload_Download"
               toolbarPath="Upload_Download"
               tooltip="Download from remote server">
         </action>
         <action
               class="rsync.actions.rsyncPutOnly"
               icon="icons/upload.gif"
               id="rsync.actions.rsyncPutOnly"
               label="Upload to remote server"
               menubarPath="rsync.actionSet.mainMenu/Upload_Download"
               toolbarPath="Upload_Download"
               tooltip="Upload to remote server">
         </action>
      </actionSet>
   </extension>   
</plugin>
