<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
 
 <plugin>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="rsync.menu"
            objectClass="org.eclipse.core.resources.IProject">
            
         <menu
			id="rsync.menu"
			label="%mesg.rsync.menu"
			path="rsync_plugin.mainMenu.separator1">
            <separator name="group"/>
         </menu>
         		
		<menu
			id="rsync.menu_sync"
			label="%mesg.rsync.menu_sync"
			path="rsync_plugin.mainMenu.separator1">
    		<separator name="group"/>
    	</menu>
    	
		<menu
			id="rsync.menu_upload_download"
			label="%mesg.rsync.menu_upload_download"
			path="rsync_plugin.mainMenu.separator1">
    	    <separator name="group"/>
    	</menu>    		
    		    

         <action
			class="rsync.actions.rsyncGetRundry"
			definitionId="rsync.actions.rsyncGetRundry"
			id="rsync.actions.rsyncGetRundry_Item"
			label="%mesg.rsync.actions.rsyncGetRundry_Item"
			menubarPath="rsync.menu/group"/>
			
		<action
	        class="rsync.actions.rsyncPutRundry"
	        definitionId="rsync.actions.rsyncPutRundry"
	        id="rsync.actions.rsyncPutRundry_Item"
			label="%mesg.rsync.actions.rsyncPutRundry_Item"
	        menubarPath="rsync.menu/group"/>

         <action
			class="rsync.actions.rsyncGet"
			definitionId="rsync.actions.rsyncGet"
			id="rsync.actions.rsyncGet_Item"
			label="%mesg.rsync.actions.rsyncGet_Item"
			menubarPath="rsync.menu_sync/group"/>
			
		<action
	        class="rsync.actions.rsyncPut"
	        definitionId="rsync.actions.rsyncPut"
	        id="rsync.actions.rsyncPut_Item"
			label="%mesg.rsync.actions.rsyncPut_Item"
	        menubarPath="rsync.menu_sync/group"/>

         <action
			class="rsync.actions.rsyncGetOnly"
			definitionId="rsync.actions.rsyncGetOnly"
			id="rsync.actions.rsyncGetOnly_Item"
			label="%mesg.rsync.actions.rsyncGetOnly_Item"
			menubarPath="rsync.menu_upload_download/group"/>
			
		<action
	        class="rsync.actions.rsyncPutOnly"
	        definitionId="rsync.actions.rsyncPutOnly"
	        id="rsync.actions.rsyncPutOnly_Item"
			label="%mesg.rsync.actions.rsyncPutOnly_Item"
	        menubarPath="rsync.menu_upload_download/group"/>
	        
        <menu
			id="rsync_plugin.mainMenu"
			label="%mesg.rsync_plugin.mainMenu">
            <separator name="rsync_plugin.separator1"/>
        </menu>
        
      </objectContribution>
   </extension>

 
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="%mesg.rsync.preferences.RsyncPreferencePage"
            class="rsync.preferences.RsyncPreferencePage"
            id="rsync.preferences.RsyncPreferencePage">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="rsync.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="rsync.properties.ProjectPropertyPage"
            id="rsync.properties.ProjectPropertyPage"
            name="%mesg.rsync.properties.ProjectPropertyPage"
            objectClass="org.eclipse.core.resources.IProject"/>
   </extension>
   
   
<extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="%mesg.rsync.actionSet"
            visible="true"
            id="rsync.actionSet">
         <menu
               id="rsync.actionSet.mainMenu"
               label="%mesg.rsync.actionSet.mainMenu">
            <separator
                  name="Sincronizza">
            </separator>
            <separator name="Upload e download"/>
            <separator name="Upload_Download"/>
         </menu>
         <action
               class="rsync.actions.rsyncGetRundry"
               icon="icons/test_local_remote.gif"
               id="rsync.actions.rsyncGetRundry"
               label="%mesg.rsync.actions.rsyncGetRundry.label"
               menubarPath="rsync.actionSet.mainMenu/Simula"
               toolbarPath="Simula"
               tooltip="%mesg.rsync.actions.rsyncGetRundry.tooltop">
         </action>
         <action
               class="rsync.actions.rsyncPutRundry"
               icon="icons/test_remote_local.gif"
               id="rsync.actions.rsyncPutRundry"
               label="%mesg.rsync.actions.rsyncPutRundry.label"
               menubarPath="rsync.actionSet.mainMenu/Simula"
               toolbarPath="Simula"
               tooltip="%mesg.rsync.actions.rsyncPutRundry.tooltip">
         </action>          
         <action
               class="rsync.actions.rsyncGet"
               icon="icons/sync_remote_local.gif"
               id="rsync.actions.rsyncGet"
               label="%mesg.rsync.actions.rsyncGet.label"
               menubarPath="rsync.actionSet.mainMenu/Sincronizza"
               toolbarPath="Sincronizza"
               tooltip="%mesg.rsync.actions.rsyncGet.tooltip">
         </action>
         <action
               class="rsync.actions.rsyncPut"
               icon="icons/sync_local_remote.gif"
               id="rsync.actions.rsyncPut"
               label="%mesg.rsync.actions.rsyncPut.label"
               menubarPath="rsync.actionSet.mainMenu/Sincronizza"
               toolbarPath="Sincronizza"
               tooltip="%mesg.rsync.actions.rsyncPut.tooltip">
         </action> 
         <action
               class="rsync.actions.rsyncGetOnly"
               icon="icons/download.gif"
               id="rsync.actions.rsyncGetOnly"
               label="%mesg.rsync.actions.rsyncGetOnly.label"
               menubarPath="rsync.actionSet.mainMenu/Upload_Download"
               toolbarPath="Upload_Download"
               tooltip="%mesg.rsync.actions.rsyncGetOnly.tooltip">
         </action>
         <action
               class="rsync.actions.rsyncPutOnly"
               icon="icons/upload.gif"
               id="rsync.actions.rsyncPutOnly"
               label="%mesg.rsync.actions.rsyncPutOnly.label"
               menubarPath="rsync.actionSet.mainMenu/Upload_Download"
               toolbarPath="Upload_Download"
               tooltip="%mesg.rsync.actions.rsyncPutOnly.tooltip">
         </action>
      </actionSet>
   </extension>   
</plugin>
